



<div>

    <form asp-controller="Client" asp-action="AddClient" method="post">
        <p>
            Name: <br />
            <input name="Name" />
        </p>
        <p>
            Email: <br />
            <input name="Email" type="text" />
        </p>
        <p>
            Phone: <br />
            <input name="Phone" type="text" />
        </p>
        <p>
            Company: <br />
            <input name="Company" type="text" />
        </p>
  
        <button class="btn btn-primary" type="submit">Add Client</button>

    </form>
</div>


