<div>

    <form asp-controller="Client" asp-action="SearchClient" method="post">
        <p>
            Client Id: <br />
            <input id="id" name="id" />
        </p>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>
